* {
  margin-top: 0;
  margin-bottom: 0;
  margin-left:2rem;
  margin-right: 2rem;
  font-family: "Fira Sans", sans-serif;
  line-height: 1.5;
}

body {
  background-color: #111414;
}

.row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  height: 90vh;
}

.container {
  display: flex;
  align-items: center;
}

.navBar {
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.navBar a img {
  width: 40px;
  height: auto;
  transition: transform 0.2s ease-in-out;
}

.navBar a img:hover {
  transform: scale(1.1);
}

.about {
  display: flex;
  /* align-items: center; */
  gap: 3rem;
  flex-direction: column;
}

.project {
  margin-top: 3rem;
  display: flex;
  gap: 3rem;
  flex-direction: column;
  border-bottom: 1px solid white;
  padding-bottom: 3rem;
  width: auto;
}
